body{background-image:url("rajput.jpg") ; background-size:cover;}
div{text-align:center; margin:200px;}
h2{color:white; margin:100px 300px 100px 300px; border-bottom: 5px solid green; font-size:60px;}
input{background-color:black;color:white;border:none; border-bottom: 3px solid green; margin:5px; padding:7px 30px;}
button{background-color:green; width:12%;border:none;}
button:hover{background-color:lightgreen;}
